@import "variables";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,500;1,500&family=Oswald:wght@500&display=swap');

a{
  color: $black;
  text-decoration: none;
}

p a, li a{
  text-decoration: underline;
}

h1,h2,h3,h4,h5{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 1.1;
}

h6{
  font-family: "shift", serif;
  font-size: $captions;
  margin: 10px 0;
}

blockquote{
  font-size: $large-body;
  p{
    margin: 0;
  }
}

.headline{
  font-size: $headline;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 1.1;
}

.title{
  font-size: $subtitle;
  font-family: 'Oswald', sans-serif;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

.small-title{
  font-size: $body;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 0;
  width: 100%;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.filter-cat{
  border-bottom: 1px solid $black;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.big-title{
  font-size: 52px;
}

.subtitle{
  font-size: $subtitle;
  font-family: 'Oswald', sans-serif;
  line-height: 1;
  font-weight: 500;
}

.intro{
  font-size: $large-body;
}

.large-body{
  font-size: $large-body;
  font-family: "shift", serif;
}

.body{
  font-size: $body;
  font-family: "shift", serif;
}

.captions, .wp-caption-text, figcaption{
  font-size: $captions;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 0;
  margin-left: 100px;
  margin-bottom: 24px;
  width: 70%;
  line-height: 1.2;
}


.category{
  font-size: 14px;
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  width: fit-content!important;
  background-color: transparent;
  border: 2px solid black;
  padding: 3px 10px;
  color: $black;
  border-radius: 25px;
  margin: 0 auto 10px auto;
  line-height: 1.2;
  letter-spacing: 0px;
  font-weight: 500;
  &.left{
    margin-left: 0;
  }
}

.tag{
  font-size: 14px;
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  width: fit-content!important;
  background-color: $black;
  border: 2px solid $black;
  padding: 3px 10px;
  color: $white;
  border-radius: 25px;
  margin: 0 5px 0px auto;
  line-height: 1.2;
  letter-spacing: 0px;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  cursor: pointer;
}

.linked-items .category{
  margin-left: 0;
}

.button{
  font-size: $button;
  font-family: 'IBM Plex Mono', monospace;
}

body{
  background-color: $white;
  color: $black;
  font-family: "shift", serif;
  font-size: $body;
  line-height: 1.5;
}

h1, h2{
  margin: 10px 0 0 0;
  padding: 0;
}

h1{
  font-family: 'Oswald', sans-serif;
}