$white: #FFFFFF;
$red:#FF0000;
$pink: #FCE4E9;
$black: #000000;
$grey: #A7A7A7;

$headline: 60px;
$subtitle: 32px;
$large-body: 24px;
$body: 16px;
$captions: 13px;
$button: 12px;

.DN--play-btn{
  color: black;
}

.footnotes{
  list-style-type: decimal;
  margin-top: 24px;
  li{
    margin-top: 10px;
  }
}

.article .wrap .collapsible{
  margin-top: 48px;
}

.collapsible{
  .trigger{
    width: 100%;
    border-bottom: 1px solid black;
    cursor: pointer;
  }
  .collapsible-content{
    height: 0!important;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    &.open{
      height: auto!important;
      opacity: 1;
      overflow: visible;
    }
  }
}

.left-sidebar, .article .wrap .left-sidebar{
  .title-cat{
    margin-bottom: 10px;
  }
  .collapsible{
    margin-top: 0;
    .trigger{
      border: none;
      font-size: $body;
      font-family: 'IBM Plex Mono', monospace;
      margin-top: 0;
      width: 100%;
      line-height: 1.2;
      text-transform: uppercase;
      &.active{
        &:after{
          transform: rotate(90deg);
        }
      }
      &:after{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        right: 0;
        background-image: url(./arrow.svg);
        background-repeat: no-repeat;
        transition: all 0.4s ease;
      }
    }
    .collapsible-content{
      margin-top: 10px;
      &.open{
        margin-bottom: 5px;
      }
    }
  }
}