@import "variables";
@import "typography";


@media only screen and (min-width: 1400px) and (max-width: 1800px){
  .grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 48px;
    .row{
      width: 22vw;
    }
  }
  .related-grid{
    margin-top: 0px;
    .row{
      width: 14vw;
    }
  }
  .article.page{
    .pp-multiple-authors-boxes-wrapper{
      ul{
        list-style: none;
        column-count: 5;
        li{
          width: calc(100% - 48px);
          img{
            margin-bottom: -10px;
          }
          .pp-author-boxes-avatar-details{
            padding-top: 24px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1400px){
  .grid{
    .row{
      width: 30vw;
    }
  }
  .navbar{
    .primary-navigation{
      .menu{
        // padding-top: 50px;
        padding-bottom: 24px;
      }
    }
  }
  .footer{
    div{
      div:nth-child(1){
        min-width: 50px;
      }
      div:nth-child(2){
        min-width: 100px;
      }
      div:nth-child(3), div:nth-child(4), div:nth-child(5), div:nth-child(6){
        width: auto;
        min-width: calc( (95vw - 250px )/ 4);
      }
    }
  }
  .article.page{
    .pp-multiple-authors-boxes-wrapper{
      ul{
        list-style: none;
        column-count: 3;
        li{
          width: 80%;
          img{
            margin-bottom: -10px;
          }
          .pp-author-boxes-avatar-details{
            padding-top: 24px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 960px) and (max-width: 1100px) {
  .grid{
    .row{
      width: 45vw;
    }
  }
  iframe{
    height: 100%;
    aspect-ratio: 9/16;
  }
  .footer{
    div{
      div:nth-child(1){
        min-width: 50px;
      }
      div:nth-child(2){
        min-width: 100px;
      }
      div:nth-child(3), div:nth-child(4), div:nth-child(5), div:nth-child(6){
        width: auto;
        min-width: calc( (95vw - 250px )/ 4);
      }
    }
  }
  .article.page{
    .pp-multiple-authors-boxes-wrapper{
      ul{
        list-style: none;
        column-count: 3;
        li{
          width: 80%;
          img{
            margin-bottom: -10px;
          }
          .pp-author-boxes-avatar-details{
            padding-top: 24px;
          }
        }
      }
    }
  }
  .flowchart{
    .slick-slider{
      .slick-list{
        .slick-track{
          .slick-slide{
            h1{
              width: 95%;
              font-size: $subtitle;
            }
            p{
              font-size: $body;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .navbar{
    .logo-container{
      width: 100px;
      height: 100px;
      top: -60px;
      left: 10px;
    }
    .primary-navigation{
      .menu{
        flex-direction: column;
        padding-top: 45px;
        padding-bottom: 24px;
      }
    }

  }
  iframe.big-image{
    height: 100vh;
    width: 100%;
    aspect-ratio: auto;
    max-height: 100vh;
  }
  .flowchart{
    .slick-slider{
      .slick-list{
        .slick-track{
          .slick-slide{
            h1{
              width: 95%;
              font-size: $subtitle;
            }
            p{
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .column1{
    .logo-container{
      width: 50vw;
      height: 50vw;
    }
  }
  .footer{
    div{
      flex-direction: column;
      align-items: start;
      div:nth-child(1){
        min-width: 100%;
        align-items: center;
      }
      div:nth-child(2){
        min-width: 100%;
        align-items: center;
      }
      div:nth-child(3), div:nth-child(4), div:nth-child(5), div:nth-child(6){
        width: auto;
        min-width:100%;
        margin-left: 0;
      }
    }
  }
  .title{
    font-size: 32px;
  }
  .right-sidebar{
    width: 100%;
  }
  .left-sidebar{
    width: 100%;
    margin-top: 0;
    margin-bottom: 24px;
    position: relative;
    .filter{
      position: relative;
      width: 100%;
      top: 0;
    }
  }
  main.article .intro{
    width: 100%;
    margin: 0;
    font-size: 20px;
  }
  main.article .headline{
    font-size: 48px;
    margin: 0;
  }
  main.article .info-bar{
    margin: 0;
    padding-left: 10px;
    margin-top: 10px;
    padding: 0;
    font-size: 10px;
    margin-bottom: 14px;
    width: 100%;
    word-break: break-all;
  }
  .post-highlight-item{
    img{
      width: 100%;
      height: 100%;
      max-height: 300px;
      object-fit: contain;
    }
  }
  .grid{
    .row{
      width: 100%;
    }
  }
  .flex{
    .column1{
      width: 100%;
      p{
        font-size: 16px;
        width: 100%;
        margin-top: 24px;
      }
    }
  }
  .post-highlight-item{
    width: 100%;
    margin-left: 0;
  }
  .person{
    div{
      width: 70%;
    }
    img{
      margin-left: 0%;
    }
  }
  main.article{
    width: 100%;
    .wrap{
      width: 100%;
      .content-wrapper{
        width: 100%;
      }
      .main-wrapper{
        flex-direction: column;
      }
    }
    .headline{
      padding-left: 0px;
      margin-bottom: 24px;
      width: 100%;
    }
  }
  main.article .wrap .linked-items{
    flex-direction: column;
    margin-bottom: 24px;
    .linked-item{
      width: 100%;
      margin-bottom: 5px;
    }
  }
  .related-grid{
    width: 100%;
    margin: 0;
  }
  pre{
    white-space: normal;
  }

.article.page{
  .widget-title{
    display: none;
  }
  .pp-multiple-authors-boxes-wrapper{
    width: 100%;
    margin-left: auto;
    margin-top: 48px;
    ul{
      width: 100%;
      li{
        width: 45%;
        margin: 2.5%;
      }
    }
  }
  .pp-multiple-authors-boxes-wrapper.box-post-id-6680.pp-multiple-authors-layout-inline.multiple-authors-target-widget.box-instance-id-1 .pp-author-boxes-avatar img{
    width: 100%!important;
    height: auto!important;
  }
}
.article.page{
  .pp-multiple-authors-boxes-wrapper{
    width: 100%;
    margin-left: auto;
    margin-top: 48px;
    ul{
      list-style: none;
      column-count: 2;
      li{
        width: 80%;
        img{
          margin-bottom: -10px;
        }
        .pp-author-boxes-avatar-details{
          padding-top: 24px;
        }
      }
    }
  }
}
}

@media only screen and (max-width: 600px) {
  .person{
    flex-direction: column;
    div{
      width: 100%;
    }
    img{
      width: 50%;
      height: 50%;
      margin-left: 0%;
    }
  }
}