@import "variables";
@import "typography";


@media only screen and (max-width: 1800px){
  .grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 48px;
    .row{
      width: 22vw;
    }
  }
  .related-grid{
    margin-top: 0px;
    .row{
      width: 14vw;
    }
  }
}

@media only screen and (max-width: 1400px){
  .navbar{
    .primary-navigation{
      .menu{
        padding-top: 50px;
        padding-bottom: 24px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .grid{
    .row{
      width: 45vw;
    }
  }
}

@media only screen and (max-width: 960px) {
  .navbar{
    .logo-container{
      width: 100px;
      height: 100px;
      top: -60px;
      left: 10px;
    }
    .primary-navigation{
      .menu{
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 24px;
      }
    }

  }
  .title{
    font-size: 32px;
  }
  .right-sidebar{
    width: 100%;
  }
  .left-sidebar{
    width: 100%;
    margin-top: 0;
    margin-bottom: 24px;
    position: relative;
    .filter{
      position: relative;
      width: 100%;
      top: 0;
    }
  }
  .article .intro{
    width: 100%;
    margin: 0;
    font-size: 20px;
  }
  .article .headline{
    font-size: 48px;
    margin: 0;
  }
  .article .info-bar{
    margin: 0;
    padding-left: 10px;
    margin-top: 10px;
    padding: 0;
    font-size: 10px;
    margin-bottom: 14px;
    width: 100%;
    word-break: break-all;
  }
  .grid{
    .row{
      width: 100%;
    }
  }
  .flex{
    .column1{
      width: 100%;
      p{
        font-size: 16px;
        width: 100%;
        margin-top: 24px;
      }
    }
  }
  .post-highlight-item{
    width: 100%;
    margin-left: 0;
  }
  .person{
    div{
      width: 70%;
    }
    img{
      margin-left: 0%;
    }
  }
  .article{
    width: 100%;
    .wrap{
      width: 100%;
      .content-wrapper{
        width: 100%;
      }
      .main-wrapper{
        flex-direction: column-reverse;
      }
    }
    .headline{
      padding-left: 0px;
      margin-bottom: 24px;
      width: 100%;
    }
  }
  main.article .wrap .linked-items{
    flex-direction: column;
    margin-bottom: 24px;
    .linked-item{
      width: 100%;
      margin-bottom: 5px;
    }
  }
  .related-grid{
    width: 100%;
    margin: 0;
  }
  pre{
    white-space: normal;
  }

.article.page{
  .widget-title{
    display: none;
  }
  .pp-multiple-authors-boxes-wrapper{
    width: 100%;
    margin-left: auto;
    margin-top: 48px;
    ul{
      width: 100%;
      li{
        width: 45%;
        margin: 2.5%;
      }
    }
  }
  .pp-multiple-authors-boxes-wrapper.box-post-id-6680.pp-multiple-authors-layout-inline.multiple-authors-target-widget.box-instance-id-1 .pp-author-boxes-avatar img{
    width: 100%!important;
    height: auto!important;
  }
}
}

@media only screen and (max-width: 600px) {
  .person{
    flex-direction: column;
    div{
      width: 100%;
    }
    img{
      width: 50%;
      height: 50%;
      margin-left: 0%;
    }
  }
}