@import "variables";
@import "typography";

@media only screen and (max-width: 900px) {
  .navbar{
    .logo-container{
      width: 100px;
      height: 100px;
      top: -60px;
      left: 10px;
    }
  }
  .headline{
    font-size: 48px;
  }
  .info-bar{
    padding-left: 10px;
    margin-top: 75px;
    padding: 0;
    font-size: 10px;
    margin-bottom: 14px;
    width: 100%;
    word-break: break-all;
  }
  .grid{
    .row{
      width: 100%;
    }
  }
  .flex{
    .column1{
      width: 100%;
      p{
        font-size: 16px;
        width: 100%;
        margin-top: 24px;
      }
    }
  }
  .post-highlight-item{
    width: 100%;
    margin-left: 0;
  }
  .article{
    width: 100%;
    .wrap{
      width: 100%;
    }
    .headline{
      padding-left: 0px;
      margin-bottom: 24px;
      width: 100%;
    }
  }
  pre{
    white-space: normal;
  }
}

@media only screen and (max-width: 1800px){
  .grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 48px;
    .row{
      width: 22vw;
    }
  }
}